@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500;800&display=swap');

:root {
    /* Colors */
    --red: hsl(1, 90%, 64%);
    --blue: hsl(219, 85%, 26%);

    --white: hsl(0, 0%, 100%);
    --gray-blue-100: hsl(210, 60%, 98%);
    --gray-blue-200: hsl(211, 68%, 94%);
    --gray-blue-300: hsl(205, 33%, 90%);
    --gray-blue-400: hsl(219, 14%, 63%);
    --gray-blue-500: hsl(219, 12%, 42%);
    --gray-blue-600: hsl(224, 21%, 14%);
}


body {
    margin: 0;
    padding: 0;
    font-family: 'Plus Jakarta Sans', sans-serif;
    background-color: var(--gray-blue-100);
}

.container {
    background-color: var(--white);
    width: 90%;
    max-width: 45.7em;
    margin: 4em auto;
    padding: 0 1em .2em 1em;
    border-radius: .75em;
}

@media screen and (max-width: 480px) {
    .container {
        margin: 0;
        width: 100%;
    }
}

.container-top {
    padding: 1em 1em .5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container-top-left {
    display: flex;
    align-items: center;
}

.container-top-left h1 {
    font-size: 1.5rem;
    font-weight: 800;
    color: var(--gray-blue-600);
}

.notification-unread {
    color: var(--white);
    background-color: var(--blue);
    padding: .1em .7em .2em;
    margin: 10px;
    border-radius: .5em;
    font-weight: 400;
}

.unread-btn {
    height: 50%;
    background: none;
	color: var(--gray-blue-500);
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
    font-size: .95em;
}

.unread-btn:hover {
    color: var(--blue);
}

/* Notifications  */

.notification {
    /* background-color: var(--gray-blue-100); */
    margin: .42em 1em 0 1em;
    padding: 1.2em 1.2em .9em;
    border-radius: .5em;
    /* position: relative; */
}


.notification a {
    text-decoration: none;
}

.user-name {
    font-weight: 700;
    color: var(--gray-blue-600);
    margin-right: .25em;

}

.user-name:hover {
    color: var(--blue)
}

.user-pic {
    width: 2.7em;
    position: absolute;
}

.notification-text {
    margin-left: 4.5em;
    font-size: 1em;
    padding-top: 0;
    line-height: 1.5;
    color: var(--gray-blue-500);
}

.notification-type {
    margin: 0;
}

.notification-time {
    margin: 0;
    color: var(--gray-blue-400);
}

.notification-link {
    color: var(--blue);
    font-weight: 700;
    margin-left: .25em;
}

.notification-link:hover {
    color: var(--gray-blue-600);
}

.private-msg {
    background-color: var(--white);
    font-size: 1.01em;
    padding: 1.1em;
    margin-top: .5em;
    margin-bottom: 0;
    line-height: 1.25;
    border-radius: .4em;
    border: 1px solid var(--gray-blue-200);
}

.private-msg:hover {
    background-color: var(--gray-blue-200);
    cursor: pointer;
}

.dot {
    height: .7em;
    width: .7em;
    background-color: var(--red);
    border-radius: 50%;
    display: inline-block;
    margin-left: .5em;
  }

  .notification-img {
    float: right;
    width: 3em;
    margin-left: 1em;
  }

.attribution { 
    font-size: 11px;
    text-align: center;
    margin-bottom: 2em;
 }  
.attribution a {
    color: hsl(228, 45%, 44%);
 }